<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">

  <title></title>

  <link rel="stylesheet" href="./css/style.css">
  <!-- <script src="http://localhost:3001/socket.io/socket.io.js"></script> -->
  <script src="./socket.io/socket.io.js"></script>
  <script src="./common/js/common.js?v=1.0.0"></script>
  <script src="./js/index.js?v=1.0.0"></script>
</head>

<body data-roomId="{{ roomId }}">
  <div id="wrapper">
    <section id="header">
    </section>

    <ul id="images"></ul>

    <section id="footer" class="footer">
      <p class="footer-url">ID <span class="footer-url-roomId"></span></p>
      <p><a href="#" class="btn btn-clear">Clear</a></p>
      <img src="">
    </section>
  </div>
</body>
</html>