# python cache
*.pyc

# Numerous always-ignore extensions
*.diff
*.err
*.orig
*.log
*.rej
*.swo
*.swp
*.vi
*~
*.sass-cache

# OS or Editor folders
.DS_Store
.cache
.project
.settings
.tmproj
nbproject
Thumbs.db

# Dreamweaver added files
_notes
dwsync.xml

# Komodo
*.komodoproject
.komodotools

# Folders to ignore
.hg
.svn
.CVS
intermediate
publish
.idea

sftp-config.json
# app.js
node_modules
bower_components

# node
node/word-sender/config

# openframeWorks
of_v0.8.4/addons
of_v0.8.4/docs
of_v0.8.4/examples
of_v0.8.4/export
of_v0.8.4/libs
of_v0.8.4/other
of_v0.8.4/projectGenerator_osx
of_v0.8.4/scripts
of_v0.8.4/CHANGELOG.md
of_v0.8.4/INSTALL.md
of_v0.8.4/LICENSE.md
of_v0.8.4/README.md
of_v0.8.4/apps/myApps/emptyExample
of_v0.8.4/apps/myApps/word_bridge/bin/word_bridgeDebug.app
.gitkeep
of_v0.8.4/apps/myApps/word_bridge/word_bridge.xcodeproj
of_v0.8.4/apps/myApps/word_bridge/addons.make
of_v0.8.4/apps/myApps/word_bridge/config.make
of_v0.8.4/apps/myApps/word_bridge/Makefile
of_v0.8.4/apps/myApps/word_bridge/openFrameworks-Info.plist
of_v0.8.4/apps/myApps/word_bridge/Project.xcconfig
node/word-sender/pack/application/public/images/api
node/word-sender/pack/application/config
node/twitter-app/config
of_v0.8.4/apps/myApps/word_bridge/bin/data/butterfly
sounds
chaos1 のエイリアス
of_v0.8.4/apps/myApps/word_bridge/bin/data
of_v0.8.4/apps/myApps/word_bridge/bin/word_bridge.app
node/bridge-app/config
of_v0.8.4/apps/myApps/word_publish/bin/word_publish.app
of_v0.8.4/apps/myApps/word_publish/bin/word_publishDebug.app
of_v0.8.4/apps/myApps/word_publish/addons.make
of_v0.8.4/apps/myApps/word_publish/config.make
of_v0.8.4/apps/myApps/word_publish/Makefile
of_v0.8.4/apps/myApps/word_publish/openFrameworks-Info.plist
of_v0.8.4/apps/myApps/word_publish/Project.xcconfig
of_v0.8.4/apps/myApps/word_publish/word_publish.xcodeproj
yada.pdf
design
