# python cache
*.pyc

# Numerous always-ignore extensions
*.diff
*.err
*.orig
*.log
*.rej
*.swo
*.swp
*.vi
*~
*.sass-cache

# OS or Editor folders
.DS_Store
.cache
.project
.settings
.tmproj
nbproject
Thumbs.db

# Dreamweaver added files
_notes
dwsync.xml

# Komodo
*.komodoproject
.komodotools

# Folders to ignore
.hg
.svn
.CVS
intermediate
publish
.idea

sftp-config.json
# app.js
node_modules
bower_components

# node
node/word-sender/config

# openframeWorks
of_v0.8.4/addons
of_v0.8.4/docs
of_v0.8.4/examples
of_v0.8.4/export
of_v0.8.4/libs
of_v0.8.4/other
of_v0.8.4/projectGenerator_osx
of_v0.8.4/scripts
of_v0.8.4/CHANGELOG.md
of_v0.8.4/INSTALL.md
of_v0.8.4/LICENSE.md
of_v0.8.4/README.md